<div class="media" id="cmt-{{{id}}}">
    <div class="media-body clearfix">
        <div class="cmt-heading">
            <span class="media-heading user_name float-left">{{userid.username}}</span>
            {{#if isUserAdmin }}
            <span class="float-right"><a href="#" class="text-danger rm-cmt" data-id="{{{id}}}">delete</a></span>
            {{/if}}
        </div>
        <br>
        <div>{{{ comment }}}</div>
    </div>
</div>
        
