<article class="new-post">
  <h1>Create new User</h1>
  <form action="/{{user._id}}/passwordchange" method="PUT" class="new-post-form">
   
    <label>
      Old Password:
      <input type="password" name="oldpassword" placeholder="" value="{{userinfo.password}}" class="full-width-input"/>
    </label>
    <label>
      New Password:
      <input type="password" name="newpassword" placeholder="" value="{{userinfo.password}}" class="full-width-input"/>
    </label>

 
    <button type="submit">Submit</button>
    <button type="reset">Clear Form</button>
    <button type="button">Click me!</button>
  </form>
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
</article>