<div class="prof-ssuccess">
    <h1>
    Your Profile has been created ! Please Login . Thank you.
    </h1>

    <a class="nav-link" href="/users/userlogin"><button type="button" class="btn btn-primary">Login</button></a>

</div>


